<ng-container *ngIf="currentCart$ | async as currentCart">
  <section class="cx-page-section">
    <div>
      <h5 class="activeGroup">
        <span
          *ngIf="!isSubscription"
          class="material-icons icon-align icon-cursor"
          (click)="clearCurrentSelection()"
          >highlight_off</span
        >
        <span class="bpo-align">
          <ng-container *ngIf="!isSubscription; else hasSubscription">
            <span>{{ parentBpo?.name }}&nbsp;</span>
            <span>{{
              'guidedSelling.currentSelection.newContract' | cxTranslate
            }}</span>
          </ng-container>
          <ng-template #hasSubscription>
            <span>{{ 'guidedSelling.addingTo' | cxTranslate }}&nbsp;</span>
            <span>{{ parentBpo?.name }}&nbsp;</span>
            <span>({{ subscriptionDetail.id }})</span>
          </ng-template>
        </span>
        <span
          *ngIf="!isCurrentSelectionCollapsed() != true; else expand"
          (click)="expandCurrentSelection()"
          class="material-icons expandCursor icon-cursor icon-align icon-position"
          >keyboard_arrow_up</span
        >

        <ng-template #expand>
          <span
            (click)="collapseCurrentSelection()"
            class="material-icons collapseCursor icon-cursor icon-align icon-position"
            >keyboard_arrow_down</span
          >
        </ng-template>
      </h5>
      <div [@slideInOut]="isCurrentSelectionCollapsed()">
        <div *ngFor="let tmfProduct of tmfProducts">
          <ng-container *ngIf="!isPartOfCurrentSelection(tmfProduct)">
            <div class="row product">
              <div class="col-4">{{ tmfProduct.name || tmfProduct.productOffering.id }}</div>
              <span class="row cx-smaller text-warning">{{ 'guidedSelling.subscriptionMessage' | cxTranslate }}</span>
            </div>
          </ng-container>
        </div>
        <div *ngFor="let product of currentSelections">
          <div class="row product">
            <div class="col-4">{{ product.name || product.code }}</div>
            <span *ngIf="getSubscribedProduct(product.code)" class="cx-smaller">{{ 'guidedSelling.subscribedProduct' | cxTranslate }}{{ getSubscribedProduct(product.code) }}</span>
              <span class="small-text">
                <cx-price-display [price]="product.productOfferingPrice[0]"></cx-price-display>
              </span>
            <div
              *ngIf="!getSubscribedProduct(product.code)"
              class="remove-icon"
              (click)="removeProductFromCurrentSelection(product)"
            >
              <span class="material-icons">highlight_off</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="summary"
      [ngClass]="{
        'horizontal-line':
          currentSelections.length !== 0 && isCurrentSelectionCollapsed()
      }"
    >
      <div class="row productTotal">
        <div class="col-4">{{ 'cartItems.total' | cxTranslate }}</div>
        <div class="col-3 price">
          <span
            class="small-text"
            *ngIf="
              currentSelectionTotal !==
              constants.GUIDED_SELLING.CURRENT_SELECTION.DASH
            "
            >{{
              'guidedSelling.currentSelection.startingFrom' | cxTranslate
            }}</span
          >
          {{ currentSelectionTotal }}
        </div>
      </div>
    </div>

    <button
      #addToCartButton
      class="btn btn-primary btn-block cx-bottom-fixed"
      (click)="addBpoToCart(currentCart)"
      [disabled]="currentSelections?.length == 0"
    >
      {{ 'addToCart.addToCart' | cxTranslate }}
        <ngx-spinner
          [fullScreen]="false"
          type="ball-clip-rotate-multiple"
          size="small"
        >
        </ngx-spinner>
    </button>
    
  </section>
</ng-container>
