<div class="row mx-auto ht-250">
  <ul [ngClass]="{'listNone': list.length === 1 && !list[0].bundledPop}">
    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: list }"></ng-container>
  </ul>
  <ng-template #recursiveListTmpl let-list="list">
    <li *ngFor="let item of getSortedList(list)">
      <span [ngClass]="{'priceGreen': item.chargeType === 'discount'}" *ngIf="!item.isBundle">
        <span *ngIf="item.chargeType === 'oneTime'">
          <cx-one-time-charge [oneTimeCharge]="item"></cx-one-time-charge>
        </span>
        <span *ngIf="item.chargeType === 'recurring'">
          <cx-recurring-charge [recurringCharge]="item"></cx-recurring-charge>
        </span>
        <span *ngIf="item.chargeType === 'usage'">
          <cx-usage-charge [usageCharge]="item"></cx-usage-charge>
        </span>
        <span *ngIf="item.chargeType === 'discount'">
          <cx-alteration-details [alteration]="item"></cx-alteration-details>
        </span>
      </span>
      <span *ngIf="item.isBundle">{{item.name?item.name:item.id}}
        <span *ngIf="item.usageType">({{'productDetails.price.usageCharge.usageTypes.usageType' | cxTranslate: {context: item.usageType}  }})</span>
      </span>
      <ul *ngIf="item.bundledPop && item.bundledPop.length > 0">
        <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.bundledPop }">
        </ng-container>
      </ul>
    </li>
  </ng-template>
</div>
