<ng-container>
  <section class="cx-page-section">
    <div class="step-menu">
      <div class="d-flex justify-content-center">
        <p>
          <strong>{{ 'guidedSelling.steps.configureOffer' | cxTranslate }}</strong>
        </p>
      </div>
      <div *ngFor="let step of guidedSellingSteps">
        <div id="{{step.id}}" class="stepwizard step group"
             (click)="changeActiveStep(step.id, step.inProductGroup)"
             [ngClass]="step.active ? 'step-active' : 'step-inactive'">
          <p>
            <strong>
              {{ step.name }}
              {{ !step.inProductGroup ? ('guidedSelling.steps.offers' | cxTranslate) : '' }}
            </strong>
            <span class="material-icons collapseCursor icon-align">keyboard_arrow_right</span>
          </p>
        </div>
      </div>
    </div>
  </section>
</ng-container>
