<div class="border rounded cx-po-search-by-consumption-content">
  <div *ngIf="poConsumption.name" class="cx-po-search-by-consumption">
    <p
      class="cx-consumption-slider-info-bold">{{ 'consumption.discover' | cxTranslate }} {{ poConsumption.productSpecification.name }} {{ 'consumption.offers' | cxTranslate }}</p>

    <div *ngIf="sliderOptions">
      <cx-slider-option
        [consumption]="consumption"
        [sliderOptions]="sliderOptions"
        (consumptionValue)="consumptionValueChange($event)">
      </cx-slider-option>
    </div>

    <div>
      <p class="cx-consumption-slider-info">{{ 'consumption.annualConsumption' | cxTranslate }}</p>
    </div>

    <div class="row" [formGroup]="consumptionForm">
      <div class="form-group col-md-6 form-inline">
        <input
          class="form-control col-md-4"
          type="number"
          min="0"
          step="1"
          pattern="\d*"
          id="consumptionInput"
          name="consumption"
          required
          placeholder="{{ 'consumption.consumptionInput.placeholder' | cxTranslate }}"
          formControlName="consumptionInput"
        />
        <label for="consumptionInput" class="cx-consumption-slider-info ml-2">{{ poConsumption.usageUnit.name }}
          / {{ poConsumption.billingFrequency }}</label>
      </div>

      <ng-container *ngIf="url">
        <div class="col-md-6">
          <button
            class="btn btn-primary btn-block"
            type="button"
            (click)="saveConsumption()"
            [disabled]="consumptionForm.invalid"
            [routerLink]="url"
            [queryParams]="queryParams">
            {{ getButtonText() | cxTranslate }}
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="!url">
        <div class="col-md-6">
          <button
            class="btn btn-primary btn-block"
            type="button"
            (click)="saveConsumption()"
            [disabled]="consumptionForm.invalid"
            [routerLink]="
           {
              cxRoute: 'category',
              params: {code: poConsumption.productSpecification.id}
           } | cxUrl"
            [queryParams]="queryParams">
            {{ getButtonText() | cxTranslate }}
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
