<ng-container *ngIf="product$ | async as product">
  <ng-template
    [cxOutlet]="outlets.PRICE"
    [cxOutletContext]="{ product: product }"
  >
    <div
      *ngIf="
        this.priceService.getHighestPriorityPriceForSPO(
          product
        ) as highestPriorityPrice
      "
    >
      <div
        *ngIf="priceService.getAllPriceList(highestPriorityPrice) as priceList"
      >
        <div class="col-12 col-lg-7">
          <div
            *ngIf="priceService.getPayNowPrices(priceList) as payNowPriceList"
          >
            <cx-one-time-charge
              [isMainAreaDisplay]="true"
              [priceList]="
                payNowPriceList && payNowPriceList.length > 0
                  ? payNowPriceList
                  : [highestPriorityPrice]
              "
            >
            </cx-one-time-charge>
          </div>
        </div>
        <div class="col-12">
          <div
            *ngIf="
              priceService.getRecurringPrices(priceList) as recurringPriceList
            "
          >
            <div class="row">
              <cx-recurring-charge [recurringCharges]="recurringPriceList">
              </cx-recurring-charge>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template
    [cxOutlet]="outlets.SUMMARY"
    [cxOutletContext]="{ product: product }"
  >
    <p [innerHTML]="product?.summary" class="summary"></p>
  </ng-template>
  <!-- @TODO: Temp. Comment out share link while not in use by CMS -->
  <!-- <ng-container *cxOutlet="outlets.SHARE">
          <div>
            <a href="#" class="share btn-link">
              {{ 'productSummary.share' | cxTranslate }}
            </a>
          </div>
        </ng-container> -->
</ng-container>
