.font-small {
  font-size: var(--cx-font-size, 0.875rem);
}

.clickable {
  cursor: pointer;
}

.edit_btn_fnt {
  font-size: 1.2rem;
}

.labelHeading {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
}
