
.label {
    font-size: 0.9rem;
    font-weight: 600;
}

.labelHeading {
    font-size: 0.9rem;
    font-weight: 600;

}

.labelText {
    font-size: 0.9rem;
    font-weight: 500;
}

.background-green {
    background-color: green;
}

.text-green {
    color: green;
}
