<div *ngIf="hasHeader" class="d-none d-md-block d-lg-block d-xl-block">
  <div class="cx-item-list-header row">
    <div class="cx-item-list-desc col-md-6 col-lg-5 col-xl-6">
      {{ 'cartItems.description' | cxTranslate }}
    </div>
    <div class="cx-item-list-qty col-3">
      {{ 'cartItems.quantity' | cxTranslate }}
    </div>
    <div class="cx-item-list-price col-md-3 col-lg-4 col-xl-3">
      {{ 'cartItems.price.payOnCheckoutPrice' | cxTranslate }}
    </div>

    <ng-container *ngIf="options.isSaveForLater">
      <div class="cx-item-list-total col-md-2 col-lg-2 col-xl-2">
        {{ 'saveForLaterItems.stock' | cxTranslate }}
      </div>
    </ng-container>
  </div>
</div>

<div [formGroup]="form">
  <div class="cx-item-list-row" *ngFor="let group of groupedItems | keyvalue">
    <ng-container *ngIf="group.key && group.value">
      <ng-container *ngIf="group.value[0].rootBpoCode">
        <div class="row">
          <div class="col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center">
            <span
              class="material-icons pointer-cursor"
              *ngIf="!readonly"
              (click)="removeBpo(group.key)"
            >highlight_off</span
            >
            <span
              class="material-icons pointer-cursor"
              *ngIf="!readonly && !isCartEntryForRenewal(group.value)"
              (click)="prepareCgsForEdit(group.key, group.value, 0)"
            >edit</span
            >
            <ng-container
              *ngIf="getProduct(group.value[0].rootBpoCode) | async as bpo"
            >
              <label class="label text-capitalize">
                <strong class="h3">&nbsp;&nbsp;{{ bpo.name }}</strong>
              </label>
            </ng-container>
          </div>
        </div>
        <div
          class="row d-flex justify-content-center"
          *ngFor="
            let compatibilityMessage of getCompatibilityErrorsForEntryGroup(
              group.key
            )
          "
        >
          <div class="col-md-11 col-lg-11 col-xl-11 text-danger">
            {{ compatibilityMessage.message }}
          </div>
        </div>
        <br/>
      </ng-container>

      <ng-container *ngFor="let item of group.value">
        <ng-container *ngIf="!item.entries">
          <div class="cx-item-list-items">
            <div
            >
              <div *ngIf="item.subscribedProduct.id">
                <span class="flash-warn">{{
                  'subscriptions.processType.processType'
                    | cxTranslate: { context: item.processType.id }
                }}</span>
              </div>
              <ng-container *ngIf="item.rootBpoCode === undefined">
                <span *ngIf="isCartEntryForRenewal([item])">
                  <span class="right-arrow">
                    {{ 'subscriptions.renew' | cxTranslate }} &nbsp;{{
                      item.subscriptionTerm.name
                    }}
                </span>
              </span>
            </ng-container>
            <div
              class="cx-item-list-items"
              *ngIf="getControl(item) | async as control"
              [class.is-changed]="control.get('quantity').dirty"
            >
              <cx-cart-item
                [showEdit]="showEdit"
                [item]="item"
                [quantityControl]="control.get('quantity')"
                [readonly]="readonly"
                [promotionLocation]="promotionLocation"
                [isPremiseDetailsReadOnly]="isPremiseDetailsReadOnly"
                [isRemovable]="item.rootBpoCode == null"
                (remove)="removeEntry($event)"
                [options]="options"
              >
              </cx-cart-item>
              <ng-container
                *ngIf="
                  item.rootBpoCode === undefined &&
                  getOrderEntryArray(item) as orderEntries
                "
              >
              </ng-container>
            </div>
          </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
