@import '~material-design-icons/iconfont/material-icons.css';
cx-page-slot.SiteContext::after {
  border: none;
}

header {
  background-color: var(--cx-color-inverse);
  color: var(--cx-color-dark);
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--cx-color-dark);
}

cx-searchbox label {
  background-color: var(--cx-color-background);
  border-radius: 5px;
}

cx-login .cx-login-greet {
  color: var(--cx-color-dark);
}

cx-navigation-ui {
  justify-content: space-around;
}

.stepper-container ul[role=tablist] .nav-link.active {
  background-color: var(--cx-color-inverse);
  color: var(--cx-color-secondary);
  border-width: 0 0 5px 0;
  border-style: solid;
  padding: 1.1rem;
  font-size: var(--cx-font-size, 1.125rem);
  font-weight: var(--cx-font-weight-bold);
  line-height: var(--cx-line-height, 1.2222222222);
  min-width: 200px;
  text-align: center;
  border-bottom: 0 !important;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.stepper-container ul[role=tablist] .nav-link {
  border: none;
  background-color: #ffffff;
  color: #000000;
  padding: 1.1rem;
  font-size: 0.99rem;
  font-weight: 600;
  width: 200px;
  text-align: center;
}
.stepper-container .nav-fill .nav-item {
  display: flex !important;
  justify-content: center !important;
}
.stepper-container .nav-fill .nav-item .nav-link {
  border: 0 !important;
  width: 100%;
}

.stepper-container input[type=radio]::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  left: 4px;
  top: 4px;
}
.stepper-container .btn-primary.disabled,
.stepper-container .btn-primary:disabled {
  background-color: var(--cx-color-secondary) !important;
  border-color: var(--cx-color-secondary) !important;
}

.msisdn-container .btn-primary.disabled,
.msisdn-container .btn-primary:disabled {
  background-color: var(--cx-color-secondary) !important;
  border-color: var(--cx-color-secondary) !important;
}

.GuidedSellingPageTemplate {
  max-width: 1700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.GuidedSellingPageTemplate cx-page-slot.GuidedSellingContentSlot {
  max-width: 1280px;
  margin: auto;
  flex-direction: row;
  padding-bottom: 5%;
}
.GuidedSellingPageTemplate cx-page-slot.GuidedSellingContentSlot cx-guided-selling {
  display: flex;
  flex-direction: row;
}
.GuidedSellingPageTemplate cx-page-slot.GuidedSellingContentSlot cx-guided-selling > div {
  flex-direction: column;
  width: 95%;
  margin: auto;
}

.accordion .card-header {
  background-color: #fff !important;
  padding: 0 !important;
  border: none !important;
}

.accordion .card-body {
  padding: 0 !important;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
}