@import '~material-design-icons/iconfont/material-icons.css';
cx-page-slot.SiteContext::after {
  border: none;
}

header {
  background-color: var(--cx-color-inverse);
  color: var(--cx-color-dark);
}
header cx-link a {
  color: var(--cx-color-dark);
}
header cx-site-context-selector select {
  background-color: var(--cx-color-inverse);
  color: var(--cx-color-dark);
}
header cx-icon, header .cx-icon {
  color: var(--cx-color-dark);
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--cx-color-dark);
}

cx-searchbox label {
  background-color: var(--cx-color-background);
  border-radius: 5px;
}

cx-login .cx-login-greet {
  color: var(--cx-color-dark);
}

cx-navigation-ui {
  justify-content: space-around;
}

cx-product-view .cx-product-layout {
  position: relative !important;
  display: inline-block !important;
  overflow: hidden !important;
  border-radius: 4px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: var(--cx-color-light) !important;
  max-height: 48px !important;
}

.cx-product-grid {
  display: inline-block;
  padding: 20px;
  max-width: 53px;
}

.fa-th-large {
  color: var(--cx-color-secondary);
  font-size: 24px;
  position: relative;
  bottom: 1px;
}

.fa-bars {
  color: var(--cx-color-secondary);
  font-size: 24px;
  position: relative;
  bottom: 1px;
}

.cx-product-list {
  display: inline-block;
  padding: 20px;
  max-width: 53px;
}

.stepper-container ul[role=tablist] .nav-link.active {
  background-color: var(--cx-color-inverse);
  color: var(--cx-color-secondary);
  border-width: 0 0 5px 0;
  border-style: solid;
  padding: 1.1rem;
  font-size: var(--cx-font-size, 1.125rem);
  font-weight: var(--cx-font-weight-bold);
  line-height: var(--cx-line-height, 1.2222222222);
  min-width: 200px;
  text-align: center;
  border-bottom: 0 !important;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.stepper-container ul[role=tablist] .nav-link {
  border: none;
  background-color: #ffffff;
  color: #000000;
  padding: 1.1rem;
  font-size: 0.99rem;
  font-weight: 600;
  width: 200px;
  text-align: center;
}
.stepper-container .nav-fill .nav-item {
  display: flex !important;
  justify-content: center !important;
}
.stepper-container .nav-fill .nav-item .nav-link {
  border: 0 !important;
  width: 100%;
}

.stepper-container input[type=radio]::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  left: 2px;
  top: 2px;
}
.stepper-container :focus {
  outline-width: 0 !important;
}
.stepper-container .btn-primary.disabled,
.stepper-container .btn-primary:disabled {
  background-color: var(--cx-color-secondary) !important;
  border-color: var(--cx-color-secondary) !important;
}
.stepper-container ul[role=tablist] .nav-link {
  display: none !important;
}

.msisdn-container .btn-primary.disabled,
.msisdn-container .btn-primary:disabled {
  background-color: var(--cx-color-secondary) !important;
  border-color: var(--cx-color-secondary) !important;
}

.font-label {
  font-size: var(--cx-font-size, 0.875rem);
  font-weight: var(--cx-font-weight-bold);
  line-height: var(--cx-line-height, 1.2222222222);
  overflow-wrap: break-word;
  padding-right: 1rem;
}

.fontLabel-bold {
  font-size: 1rem;
  font-weight: 800;
  color: var(--cx-color-text);
}
.fontLabel-bold .cx-product-price {
  font-size: var(--cx-font-size, 1rem) !important;
  font-weight: 500 !important;
  line-height: var(--cx-line-height, 1.2222222222) !important;
  text-align: left;
  margin: 15px 0 0 0;
}

.GuidedSellingPageTemplate {
  max-width: 1700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.GuidedSellingPageTemplate cx-page-slot.GuidedSellingContentSlot {
  max-width: 1280px;
  margin: auto;
  flex-direction: row;
  padding-bottom: 5%;
}
.GuidedSellingPageTemplate cx-page-slot.GuidedSellingContentSlot cx-guided-selling {
  display: flex;
  flex-direction: row;
}
.GuidedSellingPageTemplate cx-page-slot.GuidedSellingContentSlot cx-guided-selling > div {
  flex-direction: column;
  width: 95%;
  margin: auto;
}

.SelfcarePageTemplate {
  max-width: var(--cx-page-width-max);
  margin: auto;
  margin-bottom: 40px;
}
.SelfcarePageTemplate .cx-selfcare-list {
  --list-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 44.21 69.76'%3E%3Cpolyline fill='none' stroke='%23D3D6DA' stroke-width='10' points='5,5 35,35 5,65 '/%3E%3C/svg%3E%0A");
  --list-bg-pos: calc(100% - 26px) 50%;
}
.SelfcarePageTemplate cx-selfcare-banner {
  flex: 0 0 calc(32% - 10px);
  box-sizing: border-box;
  margin: 40px 9px 0px 9px;
}
.SelfcarePageTemplate cx-selfcare-banner cx-generic-link,
.SelfcarePageTemplate cx-selfcare-banner a {
  height: 100%;
}
.SelfcarePageTemplate cx-selfcare-banner a {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: min-content 1fr;
  gap: 3% 30px;
  grid-template-areas: "media ." "media .";
  padding: 25px 25px 25px 30px;
  border-radius: 9px;
  border: solid 2px var(--cx-color-light);
}
.SelfcarePageTemplate cx-selfcare-banner a:hover {
  text-decoration: none;
  border-color: var(--cx-color-background);
  background: var(--cx-color-background);
}
.SelfcarePageTemplate cx-selfcare-banner a cx-media {
  grid-area: media;
}
.SelfcarePageTemplate cx-selfcare-banner a cx-media img {
  filter: var(--cx-img-filter);
  width: 50px;
  height: 50px;
}
.SelfcarePageTemplate cx-selfcare-banner a p {
  color: var(--cx-color-text);
}
.SelfcarePageTemplate cx-selfcare-banner a p.headline {
  font-weight: bold;
}
.SelfcarePageTemplate cx-table.vertical table {
  border-top: 1px solid var(--cx-color-light);
  border-bottom: 1px solid var(--cx-color-light);
}
.SelfcarePageTemplate cx-table table td {
  padding: 0 !important;
}
.SelfcarePageTemplate cx-table thead {
  pointer-events: none;
}
.SelfcarePageTemplate cx-table thead th {
  padding-inline-start: 22px;
}
.SelfcarePageTemplate cx-table tr {
  cursor: pointer;
}
.SelfcarePageTemplate cx-table.vertical tr:hover:not(.is-current) {
  background-color: var(--cx-color-background);
}
.SelfcarePageTemplate cx-table .status a {
  text-decoration: none;
}
.SelfcarePageTemplate cx-table .paymentStatus a {
  text-decoration: none;
}
.SelfcarePageTemplate cx-table cx-selfcare-cell a {
  text-decoration: none !important;
  color: var(--cx-color-text) !important;
}
.SelfcarePageTemplate cx-table .status span.is-active {
  color: var(--cx-color-success);
  text-transform: uppercase;
}
.SelfcarePageTemplate cx-table .paymentStatus span.is-active {
  color: var(--cx-color-success);
}
.SelfcarePageTemplate cx-table td a {
  padding-inline-start: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 70px;
  text-decoration: underline;
  color: var(--cx-color-primary);
}
.SelfcarePageTemplate .cx-selfcare-list cx-table.vertical tr td:last-child {
  background-image: var(--list-bg);
  background-position: var(--list-bg-pos);
  background-repeat: no-repeat;
  background-size: 12px;
}
.SelfcarePageTemplate cx-table.vertical tr.is-current {
  outline: solid 3px var(--cx-color-primary);
  outline-offset: -3px;
  background: var(--cx-color-background-focus);
}
.SelfcarePageTemplate cx-selfcare-table .content-wrapper {
  display: contents;
}
.SelfcarePageTemplate cx-table cx-selfcare-toggle-link-cell button.tree-item-toggle {
  margin-inline-start: -20px;
  border: none;
  background-color: initial;
}
.SelfcarePageTemplate cx-selfcare-toggle-link-cell {
  padding-inline-start: calc((var(--cx-depth-level) + 1) * 20px);
}
.SelfcarePageTemplate cx-split-view cx-view {
  margin-top: 25px;
}
.SelfcarePageTemplate cx-view:not([position="0"]) {
  display: flex;
}
.SelfcarePageTemplate cx-split-view:not([active-view="1"]) cx-view[position="0"] {
  padding-inline-end: var(--cx-split-gutter);
  border-inline-end: solid 0 var(--cx-color-light);
  border-inline-end-width: calc(min(var(--cx-active-view) - 1, 1) * 1px);
}
.SelfcarePageTemplate cx-table.vertical tr.is-current {
  outline: solid 3px var(--cx-color-primary);
  outline-offset: -3px;
  background: var(--cx-color-background-focus);
}
.SelfcarePageTemplate cx-selfcare-table .content-wrapper {
  display: contents;
}
.SelfcarePageTemplate cx-split-view:not([active-view="1"]) .cx-selfcare-list table th.id,
.SelfcarePageTemplate cx-split-view:not([active-view="1"]) .cx-selfcare-list table td.id {
  opacity: 0;
  width: 0.1%;
}
.SelfcarePageTemplate cx-split-view:not([active-view="1"]) .cx-selfcare-list table th.status,
.SelfcarePageTemplate cx-split-view:not([active-view="1"]) .cx-selfcare-list table td.status {
  width: 120px;
}
.SelfcarePageTemplate .card .main {
  position: relative;
  min-height: 660px;
  background: var(--cx-color-background);
}
.SelfcarePageTemplate cx-selfcare-card section {
  display: flex;
  margin: 40px;
  background-color: var(--cx-color-inverse);
  border: 1px solid var(--cx-color-light);
}
.SelfcarePageTemplate cx-selfcare-card .details {
  padding-top: 30px;
  padding-inline-start: 30px;
  padding-inline-end: 10px;
  display: flex;
  flex-wrap: wrap;
}
.SelfcarePageTemplate label {
  max-width: 100%;
  padding-inline-end: 20px;
  padding-bottom: 10px;
  margin: 0;
  font-size: 18p;
  font-weight: 700;
}
.SelfcarePageTemplate cx-selfcare-card .property {
  flex: 50%;
  margin-bottom: 30px;
  word-break: break-word;
  padding-right: 20px;
}
.SelfcarePageTemplate cx-selfcare-card .value {
  font-size: 16px;
  padding-inline-end: 20px;
}
.SelfcarePageTemplate .details .value.is-active {
  color: var(--cx-color-success);
}
.SelfcarePageTemplate .link-list {
  display: flex;
  flex-direction: column;
}
.SelfcarePageTemplate .link-list a {
  padding: 25px 30px;
  justify-content: flex-start;
  min-height: 74px;
  background-image: var(--list-bg);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: var(--list-bg-pos);
}
.SelfcarePageTemplate .link-list a:not(:last-child) {
  border-bottom: solid 1px var(--cx-color-light);
}
.SelfcarePageTemplate .link-list a:hover:not(.is-current) {
  background-color: var(--cx-color-background);
}
.SelfcarePageTemplate .link-list a.is-current {
  outline: solid 3px var(--cx-color-primary);
  outline-offset: -3px;
  background-color: var(--cx-color-background-focus);
}
.SelfcarePageTemplate .account {
  width: 100%;
  display: flex;
  cursor: pointer;
}
.SelfcarePageTemplate .account:hover {
  background-color: var(--cx-color-background);
}
.SelfcarePageTemplate .account label {
  flex: 1;
  cursor: pointer;
  color: black;
  padding: 18px;
}
.SelfcarePageTemplate .account .value {
  flex: 1;
  padding: 18px;
  text-align: right;
}
.SelfcarePageTemplate .agreementSection {
  flex-direction: column;
}
.SelfcarePageTemplate .activeLink {
  display: flex;
  width: 100%;
}
.SelfcarePageTemplate .agreement {
  width: 100%;
}
.SelfcarePageTemplate .agreementDetails {
  width: 100%;
  display: flex;
  cursor: pointer;
}
.SelfcarePageTemplate .agreementDetails:hover {
  background-color: var(--cx-color-background);
}
.SelfcarePageTemplate .agreementDetails:not(:last-child) {
  border-bottom: solid 1px var(--cx-color-light);
}
.SelfcarePageTemplate .agreementDetails label {
  flex: 1;
  cursor: pointer;
  color: black;
  padding: 18px;
}
.SelfcarePageTemplate .agreementDetails label:hover {
  text-decoration: none;
}
.SelfcarePageTemplate .agreementDetails .value {
  flex: 1;
  padding: 18px;
  text-align: right;
}
.SelfcarePageTemplate .is-empty {
  position: relative;
  top: 11px;
  left: 12px;
}

.accordion .card-header {
  background-color: #fff !important;
  padding: 0 !important;
  border: none !important;
}

.accordion .card-body {
  padding: 0 !important;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
}