.cx-bold {
  font-weight: var(--cx-font-weight-bold);
}

.text-label {
  font-size: var(--cx-font-size, 1rem);
  font-weight: var(--cx-font-weight-regular);
  line-height: var(--cx-line-height, 1.2222222222);
  text-align: left;
}
