.fontSize {
  font-size: 1.5rem !important;
  color: black;
}
.usage-btn {
  color: #fff !important;
  background-color: #FE5757 !important;
  border-color: #FE5757 !important;
}
.no-consumption-txt {
  font-size: 1.5rem;
    font-weight: 600;
}
